/*variables*/
:root{
  --header-height: 3.5rem;

  /*colors*/
  --first-color-lighten: rgb(71, 111, 143);
  --title-color: hsl(216, 100%, 99%);
  --header-text-color: rgb(251, 254, 255);
  --text-color: rgb(0, 0, 0);
  --header-color: hsl(217, 78%, 7%);
  --background-color: rgb(205, 227, 241);

  /*font*/
  /*--body-font: */
  --normal-font-size: 1rem;
  --small-font-size: 0.9rem;
  --smaller-font-size: 0.8rem;

  /*font weight*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*z index*/
  --z-tooltip: 10;
  --z-fixed: 100;

  /*typewriter*/
  --typewriterSpeed: 6s;
  --typewriterCharacters: 48;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Cormorant Garamond', serif;
  /* background-color: var(--background-color); */
  background-color: hsl(217, 78%, 7%);
  /* 1b4874 */
} 

main p {
    color: white;
}

/*header*/
header{
position: absolute;
width: 100%;
min-height: 60px;
background-color: var(--header-color);
padding: 0 16px;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 3;
}

.header {
font-family: 'Cormorant Garamond', serif;
}

header .logo{
color: var(--title-color);
font-size: 1.8em;
text-decoration: none;
display: inline-flex;
align-items: center;
column-gap: 0.25em;
}

header ul{
position: relative;
}

header ul li{
position: relative;
list-style: none;
float: left;
}

header ul li .dropdown__arrow{
font-size: 1.2em;
font-weight: initial;
transition: transform 0.4s;
}

header ul li a{
color: var(--title-color);
font-size: 1.2em;
padding: 16px 25px;
text-decoration: none;
display: flex;
justify-content: space-between;
}

header ul li a:hover{
background-color: var(--first-color-lighten);
}

header ul li ul{
position: absolute;
left: 0;
width: 200px;
background-color: var(--header-color);
}

header ul li ul li{
position: relative;
width: 100%;
border: 1px solid rgba(0,0,0,0.2);
}

header ul li ul li a{
color: var(--header-text-color);
}

@media (max-width: 1000px){
header{
    padding: 0 20px;
}
header nav{
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    background-color: var(--header-color);
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
}
header nav ul li{
    width: 100%;
}
header nav ul li ul{
    position: relative;
    width: 100%;
    left: 10px;
    height: 0;
    overflow: hidden;
    transition: height 0.4s;
}

header .nav__toggle{
    position: relative;
    width: 32px;
    height: 32px;
}
header .nav__toggle-menu, header .nav__toggle-close{
    font-size: 1.25rem;
    color: var(--title-color);
    position: absolute;
    display: grid;
    place-items: center;
    inset: 0;
    cursor: pointer;
    transition: opacity 0.1s, transform 0.4s;
}
header .nav__toggle-close{
    opacity: 0;
}

.show-menu{
    opacity: 1;
    pointer-events: initial;
}
.show-icon .nav__toggle-menu{
    opacity: 0;
    transform: rotate(90deg);
}
.show-icon .nav__toggle-close{
    opacity: 1;
    transform: rotate(90deg);
}

.show-dropdown .dropdown__arrow{
    transform: rotate(180deg);
}
.la_pluma_images img{
  gap: 0px;
}
}
@media (min-width: 1000px){
header ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background-color: var(--header-color);
    display: none;
}
header ul li:hover ul{
    display: block;
}
header ul li:hover .dropdown__arrow{
    transform: rotate(180deg);
}
}